// variables

$mainColor: #aa5422;
$light:white;
$grey: #797575;
$dark: #000;
$mainImage: url(../img/headerfondo.jpg);
$bg-position-center: center;
$bg-attachment-fixed: fixed;
$bg-size-cover: cover;
$bg-color-footer: rgb(184, 132, 73)
